# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'fluent-bit/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('fluent_bit:lookup'))
%}
{% set init_map = salt['grains.filter_by']({
    'systemd': {
      "service": {
        "conf": '/lib/systemd/system/fluent-bit.service',
        "name": 'fluent-bit'
      }
    },
    'upstart': {
      "service": {
        "conf": '/etc/init/fluent-bit.conf',
        "name": 'fluent-bit'
      }
    }
  },
  grain="init")
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.fluent_bit.update(os_family_map) %}
{% do default_settings.fluent_bit.update(init_map) %}

{## Merge in fluent_bit:lookup pillar ##}
{% set fluent_bit = salt['pillar.get'](
        'fluent_bit',
        default=default_settings.fluent_bit,
        merge=True
    )
%}