replicas: {{ pillar.get('elasticsearch_replicas', 3) }}
minimumMasterNodes: {{ pillar.get('elasticsearch_minimum_master_nodes', 2) }}
clusterName: {{ pillar.get('elasticsearch_cluster_name', 'elastic-cluster') }}
nodeGroup: {{ pillar.get('elasticsearch_node_group', 'master') }}
roles:
  - master: {{ pillar.get('elasticsearch_roles_master', 'true') }}
  - data: {{ pillar.get('elasticsearch_roles_data', 'true') }}
  - ingest: {{ pillar.get('elasticsearch_roles_ingest', 'true') }}
resources:
  limits:
    cpu: {{ pillar.get('elasticsearch_cpu_limit', '1000m') }}
    memory: {{ pillar.get('elasticsearch_memory_limit', '1024Mi') }}
  requests:
    cpu: {{ pillar.get('elasticsearch_cpu_request', '500m') }}
    memory: {{ pillar.get('elasticsearch_memory_request', '512Mi') }}
persistence:
  enabled: {{ pillar.get('elasticsearch_persistence_enabled', true) }}
  size: {{ pillar.get('elasticsearch_persistence_size', '10Gi') }}
service:
  type: {{ pillar.get('elasticsearch_service_type', 'ClusterIP') }}