# Default values for OpenSearch Helm chart
replicas: {{ pillar.get('opensearch_replicas', 3) }}
config:
  opensearch.yml: |
    cluster.name: {{ pillar.get('opensearch_cluster_name') }}
    network.host: 0.0.0.0
    plugins:
        restapi:
          roles_enabled: ["all_access", "security_rest_api_access"]
        system_indices:
          enabled: true
          indices:
            [
              ".opendistro-alerting-config",
              ".opendistro-alerting-alert*",
              ".opendistro-anomaly-results*",
              ".opendistro-anomaly-detector*",
              ".opendistro-anomaly-checkpoints",
              ".opendistro-anomaly-detection-state",
              ".opendistro-reports-*",
              ".opendistro-notifications-*",
              ".opendistro-notebooks",
              ".opendistro-asynchronous-search-response*",
            ]
extraEnvs:
  - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
    value: {{ pillar['fluentd_password']}}
  - name: DISABLE_INSTALL_DEMO_CONFIG
    value: "true"
roles:
  - master
  - data
  - ingest
resources:
  limits:
    cpu: {{ pillar.get('opensearch_cpu_limit', '1000m') }}
    memory: {{ pillar.get('opensearch_memory_limit', '1024Mi') }}
  requests:
    cpu: {{ pillar.get('opensearch_cpu_request', '500m') }}
    memory: {{ pillar.get('opensearch_memory_request', '512Mi') }}
persistence:
  enabled: {{ pillar.get('opensearch_persistence_enabled', true) }}
  size: {{ pillar.get('opensearch_persistence_size', '10Gi') }}
service:
  type: {{ pillar.get('opensearch_service_type', 'ClusterIP') }}