# Update the YAML content in each secret to include the metadata header as per OpenSearch security configuration format.

apiVersion: v1
kind: Secret
metadata:
  name: {{ pillar.get('opensearch_security_secrets', {}).get('internal_users', 'internal-users-secret') }}
  namespace: {{ pillar.get('efk_namespace', 'efk') }}
type: Opaque
stringData:
  internal_users.yml: |
    # This is the internal user database
    # The hash value is a bcrypt hash and can be generated with plugin/tools/hash.sh
    _meta:
      type: "internalusers"
      config_version: 2

    admin:
      hash: "{{ pillar.get('opensearch_admin_hash', '$2y$12$YOUR_HASH_HERE') }}"
      reserved: true
      backend_roles:
      - "admin"
      description: "Admin user"
    fluentbit:
      hash: "{{ pillar.get('opensearch_fluentbit_hash', '$2y$12$ANOTHER_HASH_HERE') }}"
      reserved: false
      backend_roles:
      - "log_writer"
      description: "Fluent Bit log writer"
    dashboard_user:
      hash: "{{ pillar.get('opensearch_dashboard_user_hash', '$2y$12$YET_ANOTHER_HASH_HERE') }}"
      reserved: false
      backend_roles:
      - "dashboard_reader"
      description: "OpenSearch Dashboards read-only user"
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ pillar.get('opensearch_security_secrets', {}).get('roles', 'roles-secret') }}
  namespace: {{ pillar.get('efk_namespace', 'efk') }}
type: Opaque
stringData:
  roles.yml: |
    # This defines the access control roles
    _meta:
      type: "roles"
      config_version: 2

    admin:
      reserved: true
      cluster_permissions:
        - "cluster_all"
      index_permissions:
        - index_patterns:
            - "*"
          allowed_actions:
            - "indices_all"
    log_writer:
      reserved: false
      cluster_permissions:
        - "cluster_monitor"
        - "cluster_composite_ops"
      index_permissions:
        - index_patterns:
            - "fluentbit*"
          allowed_actions:
            - "write"
            - "create_index"
            - "manage"
    dashboard_reader:
      reserved: false
      cluster_permissions:
        - "cluster_monitor"
      index_permissions:
        - index_patterns:
            - "fluentbit*"
          allowed_actions:
            - "read"
            - "view_index_metadata"
      tenant_permissions:
        - tenant_patterns:
            - "global_tenant"
          allowed_actions:
            - "kibana_all_read"
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ pillar.get('opensearch_security_secrets', {}).get('roles_mapping', 'roles-mapping-secret') }}
  namespace: {{ pillar.get('efk_namespace', 'efk') }}
type: Opaque
stringData:
  roles_mapping.yml: |
    # This maps roles to users and groups
    _meta:
      type: "rolesmapping"
      config_version: 2
    admin:
      reserved: true
      users:
      - "admin"
    log_writer:
      reserved: false
      users:
      - "fluentbit"
    dashboard_reader:
      reserved: false
      users:
      - "dashboard_user"
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ pillar.get('opensearch_security_secrets', {}).get('action_groups', 'action-groups-secret') }}
  namespace: {{ pillar.get('efk_namespace', 'efk') }}
type: Opaque
stringData:
  action_groups.yml: |
    # This defines reusable action groups for permissions
    _meta:
      type: "actiongroups"
      config_version: 2
    write:
      - "indices:data/write/*"
    read:
      - "indices:data/read/*"
    manage:
      - "indices:admin/*"
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ pillar.get('opensearch_security_secrets', {}).get('config', 'config-secret') }}
  namespace: {{ pillar.get('efk_namespace', 'efk') }}
type: Opaque
stringData:
  config.yml: |
    _meta:
      type: "config"
      config_version: 2
    authc:
      basic_internal_auth_domain:
        http_enabled: true
        transport_enabled: true
        order: 1
        http_authenticator:
          type: basic
          challenge: true
        authentication_backend:
          type: intern

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ pillar.get('opensearch_security_secrets', {}).get('tenants', 'tenants-secret') }}
  namespace: {{ pillar.get('efk_namespace', 'efk') }}
type: Opaque
stringData:
  tenants.yml: |
    # This defines the tenants for multi-tenancy
    _meta:
      type: "tenants"
      config_version: 2
    global_tenant:
      reserved: true
      description: "Global tenant for Dashboards"