body
{
  background-color: #373737;
  color: #161F1E; margin: 0; padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  line-height: 1em;
}

* { margin: 0; }

#login
{
    width: 133px;
    height: 30px;
    top: 0px;
    left: 44%;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#DCD0C0), to(#C0B283));
    background: -moz-linear-gradient(top,  #DCD0C0,  #C0B283);
    background-color: #C0B283;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    opacity: 0;
    z-index: 1;
}

#login:hover
{
    opacity: 1;
}

#login label { color: #ffffff; text-shadow: 1px 1px 0px rgba(135, 135, 135, 0.8); }
#login input
{
    padding: 5px;
    background-color: #fAfAfA;
    border: 1px inset #999999;
    outline: none;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#login input#host { width: 200px; }
#login input#port { width: 75px; }
#login input#password { width: 100px; }
#login button
{
    background-color: #b7a872;
    color: #C0B283;
    padding: 5px 5px 5px 5px;
    margin-left: 0px;
    border: 1px outset #999999;
    cursor: pointer;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
#login button:hover
{
    background-color: #b7a872;
    color: #dad2b6;
}
#spice-area
{
    text-align: center;
}
.spice-screen
{
    display: inline-block;
    min-width: 800px;
    min-height: 600px;
    background-color: #F4F4F4;
    left:50%;
    z-index: -1;
}

}
.spice-send-ctrl-alt-del {
    width: auto;
    margin-left: 3px;
    text-align: center;
