[Unit]
Description = OpenStack Container Service API
After = network-online.target
Wants = network-online.target

[Service]
ExecStart = /var/lib/zun/bin/zun-api
User = zun

[Install]
WantedBy = multi-user.target
