apiVersion: v1
kind: Secret
metadata:
  name: bmc-auth
  namespace: {{ pillar['bmo_namespace'] }}
type: kubernetes.io/basic-auth
stringData:
  username: ADMIN
  password: {{ pillar['ipmi-password'] }}