apiVersion: metal3.io/v1alpha1
kind: BareMetalHost #
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  online: {{ online }}
  bmc:
    address: {{ bmc['address'] }}
    credentialsName: bmc-auth
  bootMACAddress: {{ bootMACAddress }}
  bootMode: UEFI
  image:
    checksum: {{ image['checksum'] }}
    checksumType: auto
    format: {{ image['format'] }}
    url: {{ image['url'] }}
  rootDeviceHints:
    deviceName: {{ rootDeviceHints['deviceName'] }}
  networkData:
    name: {{ networkdata }}
  userData:
    name: {{ userdata }}