#cloud-config
users:
  - default
  - name: gcr
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false
    ssh_pwauth: True
    passwd: "{{ pass }}"
    ssh_authorized_keys:
        - {{ pillar['node_deploy_key'] }}
run_cmd:
  - ['curl', 'https://gitlab.com/gacybercenter/open/salt-bootstrap/-/raw/develop/bootstrap-salt.sh', '-o', 'bootstrap.sh' ]
  - ['chmod', '700', 'bootstrap.sh']
  - ['./bootstrap.sh', '-A', '10.150.1.31']