#!/bin/bash
export IRONIC_INSECURE={{ pillar['ironicInsecure'] }}
export IRONIC_ENDPOINT=https://{{ pillar['ironic_endpoint_ip'] }}:6385/v1/
export CACHEURL=http://{{ pillar['ironic_endpoint_ip'] }}/images
export RESTART_CONTAINER_CERTIFICATE_UPDATED={{ pillar['restart_container_certificate_updated'] }}
export IRONIC_USERNAME=ironic
export IRONIC_PASSWORD={{ pillar['ironic_api_password'] }}

/opt/metal3/baremetal-operator/tools/deploy.sh {{pillar['deploy_args'] }}