#!jinja|gpg

HTTP_PORT=6180
PROVISIONING_INTERFACE={{ pillar['ironic_interface'] }}
IRONIC_EXTERNAL_IP={{ pillar['ironic_endpoint_ip'] }}
DHCP_RANGE={{ pillar[ironic_dhcp_range] }}
DEPLOY_KERNEL_URL={{ pillar['deployKernelUrl'] }}
DEPLOY_RAMDISK_URL={{ pillar['deployRamdiskUrl'] }}
IRONIC_ENDPOINT={{ pillar['ironicEndpoint'] }}
CACHEURL=http://{{ pillar['ironic_endpoint_ip'] }}/images
RESTART_CONTAINER_CERTIFICATE_UPDATED={{ pillar['restart_container_certificate_updated'] }}