#!jinja|gpg|yaml

###
HTTP_PORT=6180
PROVISIONING_INTERFACE={{ pillar['ironic_interface'] }}
IRONIC_EXTERNAL_IP={{ pillar['ironic_endpoint_ip'] }}
DHCP_RANGE={{ pillar['ironic_dhcp_range'] }}
DEPLOY_KERNEL_URL=http://{{ pillar['ironic_endpoint_ip'] }}:6180/images/ironic-python-agent.kernel
DEPLOY_RAMDISK_URL=http://{{ pillar['ironic_endpoint_ip'] }}:6180/images/ironic-python-agent.initramfs
IRONIC_ENDPOINT=http://{{ pillar['ironic_endpoint_ip'] }}:6385/v1/
CACHEURL=http://{{ pillar['ironic_endpoint_ip'] }}/images
RESTART_CONTAINER_CERTIFICATE_UPDATED={{ pillar['restart_container_certificate_updated'] }}