{% set subnet_cidr = pillar['networking']['subnets']['management'] %}
{% set cidr_prefix = subnet_cidr.split('/')[1] %}
{% set netmask_result = salt['network_utils.cidr_to_netmask'](cidr_prefix) %}
{% set netmask = netmask_result['netmask'] if netmask_result['success'] else '255.255.255.0' %}

{
  "links": [
    {
      "id": "{{ interface }}",
      "type": "phy",
      "ethernet_mac_address": "{{ mac }}"
    }
  ],
  "networks": [
    {
      "id": "{{ interface }}",
      "link": "{{ interface }}",
      "type": "ipv4",
      "ip_address": "{{ ip }}",
      "netmask": "{{ netmask }}",
      "gateway": "{{ gateway }}"
    }
  ],
  "services": [
    {
      "type": "dns",
      "address": "{{ nameserver }}"
    }
  ]
}