#!jinja|gpg

apiVersion: v1
kind: Service
metadata:
    name: ironic
    namespace: {{ pillar['bmo_namespace'] }}
spec:
    selector:
      matchLabels:
        name: ironic
    ports:
      - protocol: TCP
        port: 6385
        targetPort: 6385
      - protocol: TCP
        port: 67
        targetPort: 67
    type: LoadBalancer
    loadBalancerIP: {{ pillar['ironic_endpoint_ip'] }}