[Unit]
Description=apt-cacher-ng container
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a apt-cacher-ng
ExecStop=/usr/bin/podman stop -t 2 apt-cacher-ng

[Install]
WantedBy=multi-user.target
