[Unit]
Description = OpenStack Container Service Compute Agent
After = network-online.target
Wants = network-online.target

[Service]
ExecStart = /usr/local/bin/zun-compute
User = zun

[Install]
WantedBy = multi-user.target
