[Unit]
Description=OpenStack networking-ovn Metadata Agent
After=syslog.target network.target openvswitch.service
Requires=openvswitch.service

[Service]
Type=simple
User=openvswitch
PermissionsStartOnly=true
ExecStart=/usr/bin/networking-ovn-metadata-agent --config-file /etc/neutron/plugins/networking-ovn/networking-ovn-metadata-agent.ini --config-dir /etc/neutron/conf.d/networking-ovn-metadata-agent --log-file /var/log/neutron/networking-ovn-metadata-agent.log
PrivateTmp=false
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
